*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid {
  display: grid;
}

ion-icon {
  font-size: 1.5rem;
}

body {
  background-color: grey;
}

.content {
  border: 1px solid black;
  width: 100%;
  min-height: 100dvh;
  align-items: flex-start;
}

.sidebar {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  height: 100dvh;
  width: inherit;
  gap: 1rem;
  padding-top: 2rem;
}
.top-panel {
  border: 1px solid red;
  width: inherit;
  justify-content: space-between;
}
.User {
  border: 1px solid blue;
  padding-left: 1rem;
  align-items: center;
  gap: 1rem;
}
.User img {
  border-radius: 50%;
  width: 4em;
  aspect-ratio: 1;
}
.User button {
  gap: 0.5rem;
  padding: 0;
}

.sidebar-options {
  border: 1px solid red;
  gap: 0.5rem;
}
.sidebar-options button{
  padding: 0;
}
.project-options {
  border: 1px solid yellow;
  width: inherit;
  height: inherit;
  padding-left: 1rem;
  gap: 1rem;
}
#star-outline,
#newProject {
  width: inherit;
  gap: 0.7rem;
}
.user-task-options,
.filter-options {
  border: 2px solid magenta;
  width: inherit;
  gap: 0.5rem;
  text-align: start;
}
.user-task-options button,
.filter-options button {
  width: inherit;
  text-align: start;
}

.task {
  border: 1px solid gold;
  flex-direction: column;
  gap: 1rem;
  flex: 3;
  height: 100%;
  width: inherit;
  align-items: flex-start;
  margin: 2rem 1.5rem 0 1.5rem;
}

.task-label {
  width: inherit;
  border: 1px solid yellowgreen;
  justify-content: space-between;
}

.todo {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border: 1px solid gold;
  width: inherit;
}
.todo p {
  margin-left: auto;
}
.add-new-todo{
  width: inherit;
}
button{
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  /* width: inherit; */
}

button:active {
  background-color: lightblue;
}
